body {
	overflow-x: hidden;
}

img {
    border: 0 none;
}

.absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.inputError {   
	border-color: rgba(255, 0 , 0, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(255, 0 , 0, 0.6) !important;
	outline: 0 none;
}

.addMore {
	cursor: pointer;	
}

.removeMore {
	cursor: pointer;
	display: none;	
}

/* @link	http://stackoverflow.com/a/18839305 */
.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;    
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i {
    position: absolute;
    right: 16px;
    padding: 10px 12px;
    pointer-events: none;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}

.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}

.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}

.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}

.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}

.datepicker-inline-styled {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: outside none none;
    margin: 1px 0 0;
    min-width: 160px;
    padding: 8px 0;
}

.indicator {
    display: none;
}

.filter-header, .filter-header h1 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.search-clear {
    cursor: pointer;
}

.optionalField {
    display: none;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442 !important;
}